@media (max-width: 650px) {
  .grid{
    grid-template-columns: repeat(4, calc((100vw) / 6));
    column-gap: 20px;
  }

  .logo__text{
    display: none;
  }

  .icon--hide-on-mobile{
    display: none;
  }

  .nav-list{
    left: 0;
    transform: translateY(-100%);
    align-items: center;
    width: 100vw;
    height: fit-content;
  }

  .nav-list__item{
    width: 200px;
    text-align: auto;
  }

  .hamburger-checkbox:checked ~  .nav-list{
    transform: translateY(0%);
  }

  .about__logo{
    display: none;
  }

  .start{
    grid-template-areas:
    "h h h h"
    ".  btn btn  . ";
  }

  .about{
    grid-template-areas: 'content content content content';
  }

  .experience-and-education{
    grid-template-areas:
    'experience experience experience experience '
    'education education education education'
    'certs certs certs certs';
  }

  .projects{
    grid-template-areas: 'header header header header'
                       'project1 project1 project1 project1'
                       ' project2 project2 project2 project2';
  }

  .project--third{
    display: none;
  }

  .footer{
    grid-template-areas: 'faq faq faq faq'
    'signature signature signature signature';
  }
}