.parallax{
  position: absolute;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  -webkit-perspective: 1px;
  perspective: 1px;
  z-index: -1;
}

.parallax__layer{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 100vh 20px;
  width: 100%;
  display: flex;
  justify-content: left;
}

.parallax__layer > * {
  display: block;
}

.parallax__layer--first{
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  color: var(--color-tertiary);
  font-size: 1em;
}

.parallax__layer--second{
  -webkit-transform: translateZ(-2px) scale(3);
  transform: translateZ(-2px) scale(3);
  color: var(--color-primary);
  font-size: .9em;
}

.parallax__layer--third{
  -webkit-transform: translateZ(-6px) scale(8);
  transform: translateZ(-6px) scale(8);
  color: var(--color-quinary);
  font-size: .8em;
}

.parallax__layer--fourth{
  -webkit-transform: translateZ(-10px) scale(11);
  transform: translateZ(-10px) scale(11);
  font-size: .7em;
}

.parallax__word{
  position: absolute;
  opacity: 60%;
}