@media (max-width: 1250px) and (min-width: 650px) {
  .grid{
    grid-template-columns: repeat(8, calc((100vw) / 11));
    column-gap: 20px;
  }

  .nav-list{
    width: 250px;
  }

  .nav-list__item{
    padding: 15px 30px;
    width: 150px;
  }

  .start{
    grid-template-areas:
    "h h h h h h h h"
    ". . . btn btn . . . ";
  }

  .about{
    grid-template-areas: 'content content content content logo logo logo logo';
  }

  .experience-and-education{
    grid-template-areas:
    'experience experience experience experience education education education education'
    'certs certs certs certs certs certs certs certs';
  }

  .projects{
    grid-template-areas: '. . .  header header . . .'
                       'project1 project1 project1 project1 project2 project2 project2 project2';
  }

  .project--third{
    display: none;
  }

  .footer{
    grid-template-areas: 'faq faq faq faq faq faq faq faq'
    'signature signature signature signature signature signature signature signature';

  }
}